<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="C:\SchERP\Logs\Internal\internal-nlog-AspNetCore.txt">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    
    <targets>
        <target name="console" xsi:type="Console" />
        <target name="file" xsi:type="File" fileName="C:\SchERP\Logs\log-${date}.log" />
        <target name="email" xsi:type="Mail"
                smtpServer="smtp.DomainName.com"
                smtpAuthentication="Basic"
                smtpUsername="Username@DomainName.com"
                smtpPassword=""
                enableSsl="true"
                subject="NLog message from system SCHERP on ${machinename}"
                to="phemwaresolutions@gmail.com"
                from="no-reply-sherp@phemwaresolutions.com" />


    </targets>
    <rules>
        <logger name="*" levels="Info,Error,Debug,Warn,Trace,Fail" writeTo="console" />
        <logger name="*" levels="Info,Error" writeTo="console" />
        <logger name="*" levels="Info,Debug,Error" writeTo="file" />
        <!-- <logger name="*" levels="Error" writeTo="email" /> -->
    </rules>
</nlog>